<!-- Contact -->
<div class="mb4">
  <h4 class="f3 b lh-title mb3 tc">Get in touch trough email</h4>
 

  <form id="contactForm" netlify>
    <div class="flex-l mhn1-l">
          <!-- Name -->
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="text" id="name" name="name" placeholder="Name" class="w-100 mb2" required="true">
          <label for="name">Name</label>
        </fieldset>
      </div>
          <!-- Email -->
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="email" name="email" id="email" placeholder="Email" class="w-100 mb2" required="true">
          <label for="email">Email</label>
        </fieldset>
      </div>
    </div>

        <!-- Message -->
    <fieldset>
      <textarea name="message" placeholder="Your message" rows="8" cols="80" id="message" class="w-100"></textarea>
      <label for="message">Your message</label>
    </fieldset>
        <!-- Button -->
    <div class="tc">
      <button type="submit" class="btn w-100 w-auto-ns raise">Submit</button>
    </div>
     <div class="alert" style="
    text-align: center; 
    padding: 10px;
    background: #79c879;
    color: #fff;
    margin-bottom: 10px;
    display: none;
">Your message has been sent. Thank you</div>


<!--
    <script src="https://www.gstatic.com/firebasejs/5.4.0/firebase.js"></script>
    <script>

        // Initialize Firebase
        var config = {
          apiKey: "AIzaSyCLSy9UIYLOk0zduUjAkbTA0OVjcEatwZ8",
          authDomain: "blogcontact-f2519.firebaseapp.com",
          databaseURL: "https://blogcontact-f2519.firebaseio.com",
          projectId: "blogcontact-f2519",
          storageBucket: "blogcontact-f2519.appspot.com",
          messagingSenderId: "691135997315"
        };
        firebase.initializeApp(config);

        //Refrence messages collection
        var messagesRef = firebase.database().ref("messages");

        //Listen for form submit
        document.getElementById("contactForm").addEventListener("submit", function(e){
          e.preventDefault();
          //Get input value
          var name = getInputVal("name");
          var email = getInputVal("email");
          var message = getInputVal("message");

          saveMessage(name, email, message);

          //Show alert
          document.querySelector(".alert").style.display = "block";

          //Hide alert after 3 sec
          setTimeout(function(){
            document.querySelector(".alert").style.display = "none";
          }, 3000);

          //Clear form inputs
          document.getElementById("contactForm").reset();
        });



        //Function to get input value
        function getInputVal(id) {
          return document.getElementById(id).value;
        }
        //Save the message firebase
        function saveMessage(name, email, message){
          var newMessageRef = messagesRef.push();
          newMessageRef.set({
            name: name,
            email: email,
            message: message
          });
        }
      </script>

    -->
  </form>
</div>
