
<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

	<!-- THIS IS THE NEWSLETTER SECTION-->

		<div class="measure-narrow center mb4">
			<p style="color: #ff4400;" class="db w4 center mb4 br0 f3 lh-title light-gray b tc mb2">MordernWeb</p>
		    <!-- <img src="/img/logo.svg" alt="Kaldi logo" class="br0 db mb0 w-100"/>  -->

			<!--<img src="/img/logo.svg" alt="Kaldi logo" class="db w4 center mb4 br0">  -->
			<p class="f3 lh-title light-gray b tc mb2">Subscribe to newsletter</p>
			<p>Get notified when new articles arrive. Be the first...</p>

			{{ partial "newsletter-form" . }}

		</div>
	

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">MordernWeb</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/about" class="link">About</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>
		<!--THE FIND OUT MORE SECTION

			<div>
				<h3 class="f4 b lh-title mb1 primary">Find out more</h3>
				<ul class="mb3">
					<li><a href="/post/jamaica-blue/" class="link">Latest offers</a></li>
					<li><a href="/contact" class="link">Schedule and appointment</a></li>
				</ul>
			</div>
		-->

			<div>
				<h3 class="f4 b lh-title mb2 primary">Get in touch...</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/Aguchibe" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "http://twitter.com/aguchibeking" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/codnificent/" "svg" "icons-instagram") }}
					<p>or maybe through... <span><a href="https://github.com/codnificent"><i class="fab fa-github"></i></a></span></p>
					
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
