<!--NEWSLETTER FORM-->
<form name="newsLetter" method="POST" netlify-honeypot="bot" netlify class="flex-ns mb3">
  <p class="hidden">
    <label>Don’t fill this out if you're human: <input name="bot" /></label>
  </p>
 <fieldset class="flex-auto mb2 mb0-ns mr2-ns">
    <input type="email" id="newsletterEmail" name="newsletterEmail" placeholder="Email here" class="w-100" required="ture">
    <label for="newsletterEmail">Just your email</label>
  </fieldset>

  <button class="btn mb3 w-100 w-auto-ns mb0-ns raise" type="submit">Submit</button>
</form>

