{{ define "main" }}

  <div class="mw6 center ph3 pv4">
    <h1 class="f2 lh-title b mb3">{{.Title}}</h1>
    <div class="flex justify-between grey-3">
      <p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
      <p>Read in {{ .ReadingTime }} minutes</p>
    </div>
    <div class="cms mw6">
      <p>{{ .Description }}</p>
      {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
      {{ .Content }}
    </div>
      <!-- Begin Comments JavaScript Code -->
      <script type="text/javascript" async>function ajaxpath_5b83afd601dcf(url){return window.location.href == '' ? url : url.replace('&s=','&s=' + escape(window.location.href));}(function(){document.write('<div id="fcs_div_5b83afd601dcf"><a title="free comment script" href="http://www.freecommentscript.com">&nbsp;&nbsp;<b>Comments</b>...</a></div>');fcs_5b83afd601dcf=document.createElement('script');fcs_5b83afd601dcf.type="text/javascript";fcs_5b83afd601dcf.src=ajaxpath_5b83afd601dcf((document.location.protocol=="https:"?"https:":"http:")+"//www.freecommentscript.com/GetComments2.php?p=5b83afd601dcf&s=#!5b83afd601dcf");setTimeout("document.getElementById('fcs_div_5b83afd601dcf').appendChild(fcs_5b83afd601dcf)",1);})();</script><noscript><div><a href="http://www.freecommentscript.com" title="free html user comment box">Free Comment Script</a></div></noscript>
      <!-- End Comments JavaScript Code -->
  </div>
{{ end }}
