{{ define "main" }}

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">


		<p style="color: #ff4400;" class="pv4 db w4 center mb4 br0 f3 lh-title light-gray b tc mb2">Contact</p>
		<!-- <img src="{{ .Params.logo }}" alt="" class="db w4 center pv4"> -->

		{{ .Content }}

		<div class="flex-ns mb3">
	        	{{ range .Params.contact_entries }}
				<div>
					<h4 class="f4 b lh-title mb2 primary">{{ .heading }}</h4>
					<p>{{ .text }}</p>
				</div>
			{{ end }}
		</div>

		{{ partial "contact-form" . }}

	</div>
</div>

{{ end }}
